#map {
    height: 500px;
    width: 800px;
    border: solid red 4px;
  }
  
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }